<!DOCTYPE html>
<html>
<body>
<h1>Hola <%= @user.name %>,</h1>
<p>
  Gracias por registrarte en Astronix. Por favor, confirma tu cuenta haciendo clic en el siguiente enlace:
</p>
<p>
  <a href="<%= @url %>">Confirmar mi cuenta</a>
</p>
<p>¡Bienvenido a nuestra plataforma!</p>
</body>
</html>
