<h1>Panel de Administrador</h1>
<section id="admin">
  <ul id=admin-menu>
    <li><%= link_to 'Modificar Usuarios', users_path %></li>
    <li><%= link_to 'Modificar Productos', products_path %></li>
    <li><%= link_to 'Ver  Ordenes', all_orders_path %></li>
  </ul>
</section>