
<section id="hero">
  <h4>Variedad de productos</h4>
  <h2>Promociones</h2>
  <h1>Domicilios en 30 minutos</h1>
  <p>Pagos digitales y servicios contra entrega</p>
  <button>Ir a la tienda</button>
</section>

<section id="feature" class=" section-p1">
  <h2>Categorias</h2>
  <div class="fe-container">
    <div class="fe-box">
      <img src="/assets/categorias/licores.jpg" alt="">
      <h6>Licores</h6>
    </div>
    <div class="fe-box">
      <img src="/assets/categorias/carne.jpg" alt="">
      <h6>Carnes</h6>
    </div>
    <div class="fe-box">
      <img src="/assets/categorias/bebidas.jpg" alt="">
      <h6>Bebidas</h6>
    </div>
    <div class="fe-box">
      <img src="/assets/categorias/mecato.jpg" alt="">
      <h6>Mecato</h6>
    </div>
    <div class="fe-box">
      <img src="/assets/categorias/hogar.jpg" alt="">
      <h6>Hogar</h6>
    </div>
    <div class="fe-box">
      <img src="/assets/categorias/mercado.jpg" alt="">
      <h6>Mercado</h6>
    </div>
  </div>

</section>

<section id="product1" class="section-p1">
  <h2>Productos Destacados</h2>
  <p>Articulos que no pueden faltar en tu hogar</p>
  <div class="product-container">
    <div class="product">
      <img src="/assets/productos/arroz.jpg" alt="">
      <div class="description">
        <span>Diana</span>
        <h5>Arroz Diana de 2500g</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$10000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/jabon.jpg" alt="">
      <div class="description">
        <span>Ariel</span>
        <h5>Jabon Ariel Doble poder</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$10.000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/cocacola.jpg" alt="">
      <div class="description">
        <span>CocaCola</span>
        <h5>Gaseosa CocaCola de 3L</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$7.000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/aguardiente.jpg" alt="">
      <div class="description">
        <span>Amarillo</span>
        <h5>Botella de aguardiente Amarillo de 750mL</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$40.000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/encendedor.png" alt="">
      <div class="description">
        <span>Bic</span>
        <h5>Encendedor Bic color rojo</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$3.000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/doritos.jpg" alt="">
      <div class="description">
        <span>Fritolay</span>
        <h5>Paquete de Doritos de 150g</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$4.000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/carne.png" alt="">
      <div class="description">
        <span>Colanta</span>
        <h5>Carne Molida 500g</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$16.000</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
    <div class="product">
      <img src="/assets/productos/cebolla.jpg" alt="">
      <div class="description">
        <span>Campo</span>
        <h5>Cebolla cabezona de 200g</h5>
        <div class="star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <h4>$800</h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
    </div>
  </div>
</section>