<h1>Gracias por tu orden!</h1>
<p>Order ID: <%= @order.id %></p>
<p>Order Date: <%= @order.created_at.strftime('%B %d, %Y') %></p>
<p>Total Amount: <%= number_to_currency(@order.total_amount) %></p>

<p>Gracias por tu compra, esperamos volver a verte pronto</p>
